.list{
    display: flex;
    gap: 2em;
}

@media (hover: hover){
    .list a:hover{
        color: var(--accent);
    }
}

@media (hover: none){
    /* Remove the tap highlight color on mobile */
    .list a {
        -webkit-tap-highlight-color: transparent;
    }

    .list a:active{
        color: var(--accent);
    }
}